<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snappit</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="css/icons.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="title">
            <h1>Snapp<span>it</span></h1>
        </div>
        <div class="tools">
        <ul>
            <li><a href="" alt="New"><i class="snap-plus"></i></a></li>
            <li><a href="" alt="Lock"><i class="snap-lock"></i></a></li>
            <li><a href="" alt="Share"><i class="snap-share"></i></a></li>
            <li><a href="" alt="Settings"><i class="snap-sliders"></i></a></li>
            <li><a href="" alt="Help"><i class="snap-help"></i></a></li>
            <li><a href="" alt="Delete"><i class="snap-cross"></i></a></li>
        </ul>
        </div>
    </header>
    <section class="main">
    <h3>Save Notes</h3>
    <textarea id="note"><% if(!isNew){ %><%=snip.note%><% } %></textarea>
    </section>
    <section class="side">
        <h3>Save Links</h3>
        <div id="links">
        <%snip.urls&&snip.urls.forEach(function(v){%>
            <div>
                <a href="<%=v%>"><%=v%></a>
            </div>
        <% });%>
        </div>
        <form id="urlform">
        <input type="text" id="urlinput" placeholder="Enter link" />
        </form>
    </section>
    <div style="clear:both;"></div>
    <script src="js/jquery.min.js"></script>
    <script>
        var url = '<%=snip.url%>';
        var lastUpdate = new Date;
        var changed = false;
        var noteForm = $('#note')
        var urlForm = $('#urlform')
        var urlInput =  $('#urlinput')
        var links = $('#links')
        var refreshNote = function(){
            if((new Date - lastUpdate)<5000||!changed)
                return;
            var data = {url:url}
            data.note = noteForm.val() || '';
            update(data)
        }
        urlForm.submit(function(event){
            event.preventDefault();
            var u = urlInput.val();
            if(!u) return;
            var d = $('<div></div');
            var di = $('<a>'+u+'</a>')
            di.attr('href',u);
            d.append(di);
            links.append(d);
            urlform.reset();
            refreshUrl();
        });
        var refreshUrl = function(){
            var allLinks = $('#links div a');
            var data = {url:url,urls:[]}
            $.each(allLinks,function(key,a){
                data.urls.push($(a).attr('href'));
            });
            console.log(data)
            update(data)
        }
        var update = function(data){
            var up = $.post('/save',data,function(data){
                console.log(data)
                lastUpdate = new Date;
                changed = false;
            });
            up.fail(function(){
                console.log('Something went wrong')
            });
        }
        note.oninput = function(){
            changed = true;
            refreshNote();
        }
        setInterval(refreshNote,5000)
    </script>
</body>

</html>
