[class*=snap-],
[class*=snap-] {
    box-sizing: border-box
}

[class*=snap-] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #000;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
}

[class*=snap-]:after,
[class*=snap-]:before {
    content: '';
    pointer-events: none
}

.snap-gplus:after,
[class*=snap-exclamation]:after,
[class*=snap-check]:before,
[class*=snap-cross]:after,
[class*=snap-cross]:after,
[class*=snap-cross]:before,
[class*=snap-plus]:after,
[class*=snap-plus]:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.snap-plus,
.snap-cross {
    width: 28px;
    height: 30px;
    margin: 1px
}

[class*=snap-check]:before,
[class*=snap-cross]:after,
[class*=snap-cross]:before,
[class*=snap-plus]:after,
[class*=snap-plus]:before {
    box-shadow: inset 0 0 0 32px
}

.snap-check:before {
    width: 21px;
    height: 2px;
}

[class*=snap-cross]:before,
[class*=snap-plus]:before {
    width: 25px;
    height: 3px
}

[class*=snap-cross]:after,
[class*=snap-plus]:after {
    height: 25px;
    width: 3px
}

.snap-cross {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.snap-mail,
.snap-mail:before {
    border: 2px solid
}

.snap-mail {
    width: 28px;
    height: 18px;
    overflow: hidden;
    margin: 8px 3px
}

.snap-mail:before {
    position: absolute;
    width: 24.62px;
    height: 24.62px;
    -webkit-transform: rotate(50deg) skew(-10deg, -20deg);
    -moz-transform: rotate(50deg) skew(-10deg, -20deg);
    -ms-transform: rotate(50deg) skew(-10deg, -20deg);
    -o-transform: rotate(50deg) skew(-10deg, -20deg);
    transform: rotate(50deg) skew(-10deg, -20deg);
    top: -20px;
    left: -3px
}

.snap-sliders {
    height: 26px;
    width: 26px;
    margin: 2px
}

.snap-sliders:after,
.snap-sliders:before {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    position: absolute
}

.snap-sliders:before {
    width: 8px;
    height: 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    top: 67%;
    box-shadow: inset 0 0 0 32px, 10px -10px, -10px -14px
}

.snap-sliders:after {
    position: absolute;
    width: 2px;
    height: 100%;
    box-shadow: inset 0 0 0 32px, 10px 0, -10px 0
}

.snap-share {
    height: 7px;
    width: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 32px, 14px -9px 0 0, 14px 9px 0 0;
    margin: 12px 24px 13px 1px
}

.snap-share:after,
.snap-share:before {
    position: absolute;
    width: 18px;
    height: 2px;
    box-shadow: inset 0 0 0 32px;
    left: 0
}

.snap-share:before {
    top: -2px;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg)
}

.snap-share:after {
    top: 7px;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg)
}

.snap-lock {
    width: 30px;
    height: 30px;
}

a[alt="Lock"]:before {
    width: 1px;
    height: 4px;
    left: 13px;
    top: 14px;
}

a[alt="Lock"]:after {
    width: 5px;
    height: 5px;
    left: 11px;
    top: 10px;
    border-radius: 4px;
}

a[alt="Lock"]:before,
a[alt="Lock"]:after {
    z-index: 10;
    content: '';
    position: absolute;
    background: #fff;
}

.snap-lock:before {
    left: 5px;
    width: 18px;
    height: 15px;
    margin-top: -4px;
    background: black;
}

.snap-lock:after {
    left: 8px;
    width: 8px;
    height: 6px;
    border: 2px solid black;
    border-bottom: 0;
    margin-top: -12px;
    background: transparent;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 7px 7px 0 0;
}

.snap-lock:before,
.snap-lock:after {
    content: "";
    position: absolute;
    top: 50%;
}

.snap-lock:after {
    background: transparent;
}

.snap-lock.snap-unlocked:after {
    left: 14px;
}

.snap-help {
    width: 30px;
    color: #2385BA;
    text-indent: 0px;
    margin-top: 6px;
}

.snap-help:before {
    position: absolute;
    content: "?";
    left: 3px;
    width: 28px;
    height: 28px;
    margin-top: -13px;
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    color: #fff;
    background: #2385BA;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.snap-share:hover {
    background: red;
}

@-webkit-keyframes snap-loader-rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes snap-loader-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes snap-loader-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.snap-loader {
    opacity: .8;
    display: inline-block;
    border-radius: 50%;
    font-size: 20px;
    width: .25em;
    height: .25em;
    box-shadow: 0 -.4em 0 0 rgba(0, 134, 182, 1), -.28em -.28em 0 0 rgba(0, 134, 192, 1), -.4em 0 0 0 rgba(0, 124, 200, 1), -.28em .28em 0 0 rgba(0, 169, 190, 1);
    -moz-animation: .85s snap-loader-rotate steps(8) infinite;
    animation: .85s snap-loader-rotate steps(8) infinite;
}

[class*=snap-check] {
    width: 28px;
    height: 18px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

[class*=snap-check]:after,
[class*=snap-check]:before {
    box-shadow: inset 0 0 0 32px
}

[class*=snap-check]:after {
    position: absolute;
    height: 14px;
    width: 2px;
    left: 4px;
    bottom: 8px
}

[class*=snap-exclamation] {
    overflow: visible;
    width: 30px;
    border-bottom: 2px solid;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    margin: 10px 2px 6px
}

[class*=snap-exclamation]:before {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 1px;
    top: -14px;
    border-width: 2px 0 0 2px;
    border-style: solid;
    -webkit-border-radius: 4px 0;
    -moz-border-radius: 4px 0;
    -o-border-radius: 4px 0;
    border-radius: 4px 0;
    -webkit-transform: rotate(45deg) skew(12deg, 12deg);
    -moz-transform: rotate(45deg) skew(12deg, 12deg);
    -ms-transform: rotate(45deg) skew(12deg, 12deg);
    -o-transform: rotate(45deg) skew(12deg, 12deg);
    transform: rotate(45deg) skew(12deg, 12deg)
}

[class*=snap-exclamation]:after {
    width: 4px;
    height: 3px;
    top: -14px;
    box-shadow: inset 0 0 0 32px, 0 3px, 0 8px
}



.snap-facebook {
    width: 9px;
    height: 26px;
    box-shadow: inset 2px 4px 0 0;
    border-left: 3px solid;
    -webkit-border-radius: 5px 0 0;
    -moz-border-radius: 5px 0 0;
    -o-border-radius: 5px 0 0;
    border-radius: 5px 0 0;
    margin: 4px 11px 4px 14px
}

.snap-facebook:before {
    position: absolute;
    top: 9px;
    left: -6px;
    width: 11px;
    height: 0;
    border-top: 4px solid;
    border-right: 1px solid transparent
}

.snap-twitter {
    width: 14px;
    height: 23px;
    -webkit-border-radius: 0 0 0 8px;
    -moz-border-radius: 0 0 0 8px;
    -o-border-radius: 0 0 0 8px;
    border-radius: 0 0 0 8px;
    box-shadow: -6px 2px 0 0;
    margin: 4px 7px 7px 13px
}

.snap-twitter:before {
    position: absolute;
    bottom: -2px;
    left: -6px;
    width: 17px;
    height: 6px;
    -webkit-border-radius: 0 0 0 8px;
    -moz-border-radius: 0 0 0 8px;
    -o-border-radius: 0 0 0 8px;
    border-radius: 0 0 0 8px;
    box-shadow: inset 4px -6px, 0 -11px
}

.snap-twitter:after {
    position: absolute;
    width: 6px;
    height: 6px;
    box-shadow: inset 0 0 0 32px, 13px 8px, 13px 19px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    left: -6px
}

.snap-gplus {
    width: 10px;
    height: 2px;
    box-shadow: inset 0 0 0 32px;
    margin: 14px 4px 18px 20px
}

.snap-gplus:before {
    position: absolute;
    top: -5px;
    right: 10px;
    content: "g"!important;
    font-family: georgia monospace;
    font-size: 32px;
    text-indent: 0;
    line-height: 0
}

.snap-gplus:after {
    width: 2px;
    height: 10px;
    box-shadow: inset 0 0 0 32px
}
