/* For moving the links to top right */
/*

header .title{
	float: left;
}
.tools{
	float: right;
}
header:after{
	content: " ";
	display:table;
	clear: both
}*/

#note {
    width: calc(100% - 6px);
    height: 50vh;
    resize: none;
    margin: 0;
}

header .title {
    float: left;
}

#notif {
    float: right;
    padding: 0 20px;
}

.notif {
    padding: 10px 15px;
    color: white;
    display: none;
}

#notifsaving {
    background-color: rgb(249, 246, 16);
    color: rgb(0, 68, 89);
}

#notiferror {
    background-color: rgb(50, 46, 46);
    background-color: red;
    color: white
}
#notiferror i{
	color:white;
	position: relative;
	top: 7px;
}

#notifsaved {
    background-color: rgb(0, 147, 102);
    color: #fff;
}

#notifsaved i {
    color: #fff;
}

#notif span {
    margin: 0 20px 0 0;
}
/* title */

header div.title {
    display: inline-block;
    border: 1px solid rgb(2, 142, 184);
}

header div.title h1 {
    margin: 0;
    color: rgb(2, 97, 126);
}

header div.title h1 span {
    color: white;
    background: rgb(0, 68, 89);
}
/* title end */

#mainbody {
    margin: 0;
    padding: 0;
    display: block;
}

#main h3,
#side h3 {
    margin: 4px 5px 10px;
    color: rgb(0, 68, 89);
}

@media screen and ( min-width: 600px) {
    #divnote,
    #divlinks {
        padding: 0 5px
    }
    #main {
        width: 60%;
        float: left;
    }
    #side {
        width: 40%;
        float: right;
    }
    #mainbody:after {
        content: " ";
        clear: both;
        display: table;
    }
}

@media screen and (max-width: 600px) {
    #main {
        width: 100%;
    }
    #side {
        width: 100%;
    }
}

#linksinput {
    width: 90%;
}

.links a {
    display: block;
    padding: 5px;
    text-decoration: none;
}

.tools {
    padding: 10px 0px;
}

.tools a {
    position: relative;
}

i.snap-cross {
    color: red;
}

.tools ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.tools ul li {
    width: 32px;
    float: left;
    border: 0;
    padding: 0;
    text-align: center;
}

.tools ul:after {
    content: " ";
    display: table;
    clear: both;
}
